/* stylelint-disable scss/double-slash-comment-empty-line-before */
:root {

  // Брейкпоинты
  --desktop-breakpoints: 1920px;
  --laptop-breakpoints: 1024px;
  --tablet-breakpoints: 768px;

  // z - Индексы
  --modal-z-index: 10;
  --collapsed-btn-z-index: 9;
  --header-z-index: 8;
  --sidebar-z-index: 8;

  // Цвета
  --color-white: #fff;
  --color-yellow: #FBDD3F;
  --color-white-secondary: #f6f6f6;
  --color-white-secondary-hover:#f1f1f1;
  --color-white-secondary-active: #f7f7f7;
  --color-gray: #c7c7c7;
  --color-gray-secondary: #a4a4a4;
  --color-gray-secondary-hover: #8F8F8F;
  --color-black: #000;
  --color-error: #FF6565;
  --color-green: #499C22;
  --color-dark: #2c2c2c;
  --color-main: #0280F2;
  --color-main-hover: #2A94F4;
  --color-main-active: #3F9EF5;
  --box-shadow-default: 0px 0px 6px 0 rgb(0 0 0 / 12%);
   --overlay-color: rgb(0 0 0 / 56.2%);
}