/* stylelint-disable no-descending-specificity */
.Button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  background-color: transparent;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  transition: all 0.15s ease-in-out;
}

.fullWidth {
  width: 100%;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.default {
  border-radius: 12px;
  padding: 15px 16px;           
  color: var(--color-white);
  background-color: var(--color-main);
  transition: all 0.15s ease-in-out;

  &:hover {
      background-color: var(--color-main-hover);
  }

  &:active {
      background-color: var(--color-main-active);
  }

  &:disabled,
  &[disabled] {
      pointer-events: none;
  }
}

.secondary {
  border-radius: 12px;
  padding: 15px 16px;   
  color: var(--color-gray-secondary);
  background-color: var(--color-white-secondary);
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-white-secondary-hover);
  }

  &:active {
      background-color: var(--color-white-secondary-active);
  }

  &:disabled,
  &[disabled] {
      pointer-events: none;
      color: var(--color-gray);
  }
}

.icon {
  background-color: transparent;

  svg {
    height: 24px;
    width: 24px;
    flex: none;
    color: var(--color-gray);
    fill: var(--color-gray);
    transition: all 0.15s ease-in-out;

    path {
      fill: var(--color-gray);
      transition: all 0.15s ease-in-out;
    }
  }

  &:hover {
    svg {
      color: var(--color-main);

      path {
        transition: all 0.15s ease-in-out;
        fill: var(--color-main);
      }
    }
  }
}

.icon_bg {
  background-color: var(--color-white-secondary);
  border-radius: 50%;
  padding: 3px;

  svg {
    height: 24px;
    width: 24px;
    flex: none;
    color: var(--color-gray);
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    svg {
      color: var(--color-gray-secondary);
    }
  }
}

.link {
  color: var(--color-main);
  font-size: 16px;
  line-height: 18px;

  &:hover {
    color: var(--color-main-hover);
  }

  &:active {
    color: var(--color-main-active);
  }
}

.shadow {
  color: var(--color-white);
  border-radius: 40px;
  padding: 15px 16px;
  background-color: rgb(0 0 0 / 40%);
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--color-white);

  svg {
    height: 24px;
    width: 24px;
    flex: none;
    color: var(--color-white);
  }

  &:hover {
    svg {
      transition: transform 0.15s ease-in-out;
      transform: translateX(-3px);
    }
  }
}

.tab {
  color: var(--color-gray);
  padding: 15px 16px;  
}

