/* stylelint-disable no-descending-specificity */
.Button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: transparent;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.default {
  border-radius: 12px;
  padding: 15px 16px;           
  color: var(--color-white);
  background-color: var(--color-main);
  transition: all 0.2s ease-in-out;

  &:hover {
      background-color: var(--color-main-hover);
  }

  &:active {
      background-color: var(--color-main-active);
  }

  &:disabled,
  &[disabled] {
      pointer-events: none;
  }
}

.icon {
  background-color: transparent;

  svg {
    height: 24px;
    width: 24px;
    flex: none;
    color: var(--color-gray);
  }

  &:hover {
    svg {
      transition: all 0.2s ease-in-out;
      color: var(--color-main);
    }
  }
}

.icon_bg {
  background-color: var(--color-white-secondary);
  border-radius: 50%;
  padding: 3px;

  svg {
    height: 24px;
    width: 24px;
    flex: none;
    color: var(--color-gray);
  }

  &:hover {
    svg {
      transition: all 0.2s ease-in-out;
      color: var(--color-gray-secondary);
    }
  }
}

.link {
  color: var(--color-main);

  &:hover {
    color: var(--color-main-hover);
  }

  &:active {
    color: var(--color-main-active);
  }
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--color-white);

  svg {
    height: 24px;
    width: 24px;
    flex: none;
    color: var(--color-white);
  }

  &:hover {
    svg {
      transition: transform 0.2s ease-in-out;
      transform: translateX(-3px);
    }
  }
}

.tab {
  color: var(--color-gray);
  padding: 15px 16px;  
}