.AuthModal {
  padding: 0;
  border-radius: 43px 40px 40px 43px;
  width: 785px;
}

.info {
  position: relative;
  padding: 60px 24px 24px;
  height: 480px;
  z-index: 1;
}

.infoBg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-main);
  z-index: -1;
  border-radius: 40px 0 0 40px;
}

.icon {
  color: var(--color-white);
  height: 32px;
  width: 32px;
  flex: none;
}

.formWrapper {
  padding: 24px;
  height: 480px;
}

.backContainer {
  height: 100%;
}

.NotificationModal {
  padding: 16px;
  width: 320px;
  height: auto;
}