.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(170px, 266px));
  justify-content: center;
  gap: 16px 8px;
  padding: 16px;

  @media (width <= 768px) {
    grid-template-columns: repeat(2, minmax(170px, 266px));
  }
}