.Tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.tab {
  width: 100%;
}

.selected {
  transition: all 0.2s ease-in-out;
  color: var(--color-dark);
}