.HeaderAccount {
  padding: 12px 0;
  background-color: red;
}

.icon {
  width: 32px;
  height: 32px;
}

.burger {
  &_wrapper {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  position: relative;
  display: block;
  width: 12px;
  height: 2px;
  background: var(--color-white);
  border-radius: 16px;
  transition: all .15s ease-in-out;

  &:before, &:after {
    position: absolute;
    background: var(--color-white);
    border-radius: 16px;
    content: '';
    width: 20px;
    height: 2px;
    left: -4px;
    transition: all .15s ease-in-out;
  }

  &:before {
    top: -8px;
  }

  &:after {
    top: 8px;
  }

  &_active {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.category {
  color: var(--color-white);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: var(--color-main-hover);
    transition: all 0.15s ease-in-out;

    .burger, .burger:before, .burger:after{
      background-color: var(--color-main-hover);
      transition: all 0.15s ease-in-out;
    }

    .burger_active {
      background-color: transparent;
    }
  }

  &:active {
    color: var(--color-main-active);
    transition: all 0.15s ease-in-out;

    .burger, .burger:before, .burger:after{
      background-color: var(--color-main-active);
      transition: all 0.15s ease-in-out;
    }

    .burger_active {
      background-color: transparent;
    }
  }
}

.search_bar {
  &_input > * {
    border-radius: 12px 0 0 12px;
    background-color: var(--color-white-opacity40);
    input::placeholder{
      color: var(--color-white);
    }
  }

  &_button {
    border-radius: 0 12px 12px 0;
    padding: 8px 16px;
  }
}
