.AppLink {
  color: var(--color-main);
}

.main {
  color: var(--color-main);

  &:hover {
    color: var(--color-main-hover);
}
}

.error {
  color: var(--color-error);

  &:hover {
    color: var(--color-error-hover);
  }
}

.dark {
  color: var(--color-dark);

  &:hover {
    color: var(--color-dark-hover);
  }
}

.gray {
  color: var(--color-gray-secondary);

  &:hover {
      color: var(--color-gray-secondary-hover);
  }
}